@page "/showcase"

	<h3 class="d-flex justify-content-center">Showcase</h3>
	<h4 class ="d-flex justify-content-center">This is some of our previous projects</h4>
<div class="d-flex justify-content-center">
	<img src="/showcase.png" width="60%" />
</div>
	<p class="d-flex justify-content-center">We did this website for a cleaning company in spring 2025</p>

@code {

}
